html,body,.wrap,.welcome{height: 100%;}
body,ul,h1,h3{margin: 0;padding: 0;}
body{line-height: 22px;}
a{color: #000;}
a:hover{color: #f60;}

.oh{overflow: hidden;}
.pof{position: fixed;}
.tac{text-align: center;}
.tal{text-align: left;}
.tar{text-align: right;}
.auto{margin: 0 auto;}
.br10{border-radius: 10px;}
.p10{padding: 10px;}
.fl{float: left;}
.fr{float: right;}
.ti2{text-indent: 2em;}
.w100p{width: 100%;}
.alpha-000-5{background-color: rgba(0,0,0,.5);}
.alpha-000-7{background-color: rgba(0,0,0,.7);}
.alpha-000-9{background-color: rgba(0,0,0,.9);}
.border-b-1-s-fff{border-bottom: 1px #fff solid;}

.wrap{font-size: 62.5%;letter-spacing: 1px;}

.nav{line-height: 25px;box-shadow: 0px 5px 10px #ccc;}
.nav-a{float: left;color: #fff;padding: 0 5px;text-decoration: none;text-shadow: 1px 1px 2px #f00;}
.nav-a:hover{background-color: #000;}
.nav-cur-a,.nav-cur-a:hover{background-color: #f00;color: #fff;text-shadow: 1px 1px 2px #000;}
.nav-cur-a:hover{cursor: default;}

.search-input{width: 120px;border-radius: 2px;border:none;margin-left: 5px;}
.search-button{border:none;border-radius: 2px;cursor: pointer;}

.common-inner{margin-top: 35px;width: 95%;}
.article{}
.article-title{margin-bottom: 20px;}
.article-content{line-height: 22px;text-indent: 2em;}

.welcome{color:#fff;}
.welcome-a{color:#fff;text-decoration: none;}
.welcome-a2{color: #f00;}
.welcome-a:hover{color: #fff;text-decoration: underline;}
.welcome-bg-img{background: fixed no-repeat 50% 50% #000;background-size: cover;}
.welcome-bg-img0{background-image: url(../img/bg0.jpg);}
.welcome-bg-img1{background-image: url(../img/bg1.jpg);}
.welcome-bg-img2{background-image: url(../img/bg2.jpg);}
.welcome-main{margin-top: 367px;}

.index-recommend{margin-bottom: 10px;}
.summary-title{margin-bottom: 10px;}
.summary-content{}
.summary-info{color: #666;}
.summary-more{color: #00f;}

.article-list-li{line-height: 22px;}


.index,.list,.article,.tags{height:-webkit-calc(100% - 25px);}
.tags{}
.tags-li{float: left;margin-right: 20px;}
.search{}

.footer{line-height: 25px;padding-right: 10px;color: #fff;box-shadow: 0px -2px 10px #666;}