---
layout: default
title: 杜忠波的个人网站
---

<div class="wrap">
	<div class="nav pof w100p alpha-000-9">
		<div class="search fl">
			<input type="input" value="" class="search-input" />
			<input type="button" value="搜索" class="search-button">
		</div>
		<div class="nav-inner fr"></div>
	</div>
	<!-- 首页 -->
	<div class="index index-bg-img index-bg-img1 oh page">
		<div class="index-main auto tac alpha-000-5 br10 p10">
			<div class="index-main-head border-b-1-s-fff">杜忠波的个人博客</div>
			<div class="index-main-body p10">
				<ul class="article-list-ul p10 tal"></ul>
			</div>
			<div class="index-main-footer tar">
				<a href="" class="index-a">更多&gt;</a>
			</div>
		</div>
	</div>
	<!-- 文章页 -->
	<div class="article page oh" style="display:none">
		<div class="common-inner auto">
			<h3 class="article-title tac">标题</h3>
			<div class="article-content">内容</div>
		</div>
	</div>
	<!-- 列表页 -->
	<div class="list page oh" style="display:none">
		<div class="common-inner auto">
			<h3>列表页</h3>
			<ul class="article-list-ul p10 tal"></ul>
		</div>
	</div>
	<!-- 标签页 -->
	<div class="tags page oh" style="display:none">
		<div class="common-inner auto">
			<h3>标签页</h3>
			<ul class="tags-ul">
				<li class="tags-li"><a href="" class="tags-a">文案1</a></li>
				<li class="tags-li"><a href="" class="tags-a">文案2</a></li>
				<li class="tags-li"><a href="" class="tags-a">文案3</a></li>
			</ul>
		</div>
	</div>
</div>



<script type="text/javascript">
{% include data.js %}



</script>
<!-- 首页文章列表模板 -->
{% include tpl/index-article-list.html %}
<!-- 列表页文章列表模板 -->
{% include tpl/list-article-list.html %}
<!-- 导航模板 -->
{% include tpl/nav.html %}
<!-- 标签页模板 -->
{% include tpl/tags-li.html %}