---
layout: default
title: 杜忠波的个人网站
---

<div class="wrap">
	<div class="nav pof w100p alpha-000-9">
		<div class="search fl">
			<input type="input" value="" class="search-input" />
			<input type="button" value="搜索" class="search-button">
		</div>
		<div class="nav-inner fr">
			<a href="" class="nav-a nav-cur-a">首页</a>
			<a href="" class="nav-a">列表页</a>
			<a href="" class="nav-a">标签页</a>
		</div>
	</div>
	<div class="index index-bg-img index-bg-img1 oh">
		<div class="index-main auto tac alpha-000-5 br10 p10">
			<div class="index-main-head border-b-1-s-fff">杜忠波的个人博客</div>
			<div class="index-main-body p10">
				<ul class="article-list-ul p10 tal"></ul>
			</div>
			<div class="index-main-footer tar">
				<a href="" class="index-a">更多&gt;</a>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">
{% include data.js %}



</script>
{% include tpl/index-article-list.html %}
