---
layout: default
title: 杜忠波的个人网站
---

<div class="wrap">
	<!-- 导航 -->
	<div class="nav pof w100p alpha-000-9" style="display:none">
		<div class="search fl">
			<input type="input" value="" class="search-input" />
			<input type="button" value="搜索" class="search-button">
		</div>
		<div class="nav-inner fr"></div>
	</div>
	<!-- 欢迎页 -->
	<div class="welcome welcome-bg-img welcome-bg-img1 oh page" style="display:none">
		<p class="welcome-main tac alpha-000-5 p10">
			只有在卡拉面前，我才觉得自己有点人样——《卡拉是条狗》<br />
			<a href="#index" class="welcome-a2">不扯淡，进入正文&gt;&gt;</a>
		</p>
	</div>
	<!-- 首页 -->
	<div class="index page oh" style="display:none"></div>
	<!-- 文章页 -->
	<div class="article page oh" style="display:none">
		<div class="common-inner auto">
			<h3 class="article-title tac">标题</h3>
			<div class="article-content">内容</div>
		</div>
	</div>
	<!-- 列表页 -->
	<div class="list page oh" style="display:none"></div>
	<!-- 标签页 -->
	<div class="tags page oh" style="display:none"></div>
	<!-- 页脚 -->
	<div class="footer tar alpha-000-7">duzhongbo 2015</div>
</div>



<script type="text/javascript">
{% include data.js %}

</script>
<!-- 导航模板 -->
{% include tpl/nav.html %}
<!-- 首页模板 -->
{% include tpl/index.html %}

<!-- 列表页文章列表模板 -->
{% include tpl/list.html %}

<!-- 标签页模板 -->
{% include tpl/tags.html %}