
<script type="text/template" id="J_index">

<div class="index-recommend">
	<h3 class="summary-title"><%= aArticle[0].title %></h3>
	<div class="summary-content ti2">
		<%= this.html_decode(aArticle[0].content.substring(0,100)) %>...
		<a href="#article<%= aArticle[0].url %>" class="summary-more">阅读全文 »</a>
	</div>
	<div class="summary-info tar">Posted By duzhongbo on 
		<%= aArticle[0].date %> | 标签： <%= aArticle[0].tags %>
	</div>
	
</div>
<div class="index-lastest">
	<h3>最新文章</h3>
	<ul class="article-ul p10">
		<% for(var i=0;i<5;i++) { %>
		<li class="article-li">
			<div class="article-list-date fr"><%= aArticle[i].date %></div>
			<a href="#article<%= aArticle[i].url %>" class="article-a"><%= aArticle[i].title %></a>
		</li>
		<% } %>
	</ul>
	<a href="#list" class="index-a">查看更多</a>
</div>			



</script>