<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
{{ content }}


<script type="text/javascript" src="js/lib/json2.js"></script>
<script type="text/javascript" src="js/lib/zepto.js"></script>
<script type="text/javascript" src="js/lib/underscore.js"></script>
<script type="text/javascript" src="js/lib/backbone.js"></script>
<script type="text/javascript" src="js/lib/sea.js"></script>
<script type="text/javascript">
seajs.use("./js/main.js", function() {
    
});

</script>

</body>
</html>